body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #bbb1ab;
}

hr {
    width: 500px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    background-color: #bbb1ab;
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 2px solid #563d2e;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: #563d2e;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #acd971;
    color: #563d2e;
    border-color: #bbb1ab;
}

.present {
    background-color: #71acd9;
    color: #563d2e;
    border-color: #bbb1ab;
}

.absent {
    background-color: #d3d3d3;
    color: #563d2e;
    border-color:#bbb1ab;
}


.keyboard-row {
    width: 400px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid #563d2e;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid #563d2e;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}